import time
import json
import requests
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import re
import ast
import numpy as np
import random
from itertools import combinations

!pip install python-louvain

from IPython.display import Image, display

import community as community_louvain
import seaborn as sns

from collections import defaultdict
from networkx.algorithms import bipartite

!pip install nltk
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix